<div class="row">
  <div class="col-md-10">
    <fieldset>
      <legend><%= t('titles.personal.site.roles') %></legend>
      <%= bootstrap_form_tag url: admin_seo_path, html: {id: 'engines'} do |f| %>
          <%= f.text_field :google_site_id, value: Setting.google_site_id %>
          <%= f.primary t('buttons.save') %>
      <% end %>
    </fieldset>
  </div>
</div>

<script>
    $(function () {
        submit_form('engines');
    });
</script>