<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#info" aria-controls="info" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.info')%>
      </a>
    </li>
    <li role="presentation">
      <a href="#keys" aria-controls="keys" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.keys')%>
      </a>
    </li>
    <li role="presentation">
      <a href="#seo" aria-controls="seo" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.seo')%>
      </a>
    </li>
    <li role="presentation">
      <a href="#status" aria-controls="status" role="tab" data-toggle="tab">
        <%= t('titles.personal.site.status')%>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="info">
      ..h.
    </div>
    <div role="tabpanel" class="tab-pane" id="keys">
      ..p.
    </div>
    <div role="tabpanel" class="tab-pane" id="status">
      ..m.
    </div>
    <div role="tabpanel" class="tab-pane" id="seo">
      ..s.
    </div>
  </div>

</div>