<% content_for :root do %>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <%= yield %>
      </div>
    </div>
<% end -%>

<%= render :file => 'layouts/application.html' %>
