<% content_for :root do %>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <%= render 'layouts/widgets/devise_alerts' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/widgets/footer' %>
<% end %>

<%= render file: 'layouts/application' %>
